body, html
{
    height: 100%;
    margin: auto;
    font-size: 16px;
    font-family: "Lato", sens-serif;
    font-weight: 400;
    line-height: 1.8em;
    background-color: #717171;
    color: #585858;
    text-align: center;
}

/*DO NAWIGACJI*/
.clearfix:before,.clearfix:after 
{
    content: "";
    display: table; 
}
.clearfix:after
{
    clear: both; 
}
.clearfix 
{
    zoom: 1; 
}
nav 
{
    min-height:55px;
    background: #333; /* Old browsers */
}
#input-toggle 
{
    opacity:0;
    position: absolute;
    top:0;
    left:0;
}
.navigation-toggle
{ 
    display:none; 
    width:44px; 
    height:33px; 
    margin:5px; 
    text-align:center; 
    border-radius:4px; 
    border:1px solid #404040; 
    background-image: linear-gradient(to bottom, #111, #111); 
    background-repeat: repeat-x; 
    color:#FFFFFF; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
    padding-top:10px; 
    position:absolute; 
    top:2px; right:2px; 
    cursor:pointer; 
}
.navigation-toggle span 
{ 
    background-color: #F5F5F5; 
    border-radius: 1px 1px 1px 1px; 
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); 
    display:block; 
    height:2px; 
    width:18px; 
    margin:4px auto; 
}
nav ul 
{
    list-style:none; 
    padding:0; 
    margin:0; 		
    font-size:0;
    display: block;		
}
nav ul li
{
    display: inline-block;		
    max-width:100px;
    min-width:15%;
    text-align: center;
}	
nav ul li a 
{
    font:bold 14px/60px 'Open Sans', sans-serif;
    color:#eee;
    height:60px;
    display: block;
    text-decoration: none;		
    border-right:1px solid #444;
    border-left:1px solid #111;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus
{
    background: rgb(241,231,103); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,231,103,1)), color-stop(100%,rgba(254,182,69,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
    color:#333;
    box-shadow:-4px 0 3px -3px rgba(0, 0, 0, 0.6) inset,4px 0 3px -3px rgba(0, 0, 0, 0.6) inset;
}
/*KONIEC NAWIGACJI*/
.img1, .img2, .img3
{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1
{
    background-image:url('photos/jezioro.jpeg');
    min-height: 100%;
    text-align: center;
}
.img2
{
    background-image:url('photos/plaza.jpeg');
    min-height: 400px;
}
.img3
{
    background-image:url('photos/zachod.jpeg');
    min-height: 100%;
}
.section
{
    min-height: 50%;
    text-align: center;
    padding: 10% 5%;
}
.sectOne
{
    min-height: 90%;
    text-align: center;
    padding: 50px 80px;
}
.section-light
{
    background-color: #f4f4f4;
    color:#665;
}
.section-dark
{
    background-color: #282e34;
    color: #ddd;
}
.text
{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.text .border
{
    background-color: #111;
    color:#fff;
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item {
    flex: 1 0 15em;
    margin: 1em;
}
img {
    display: block;
    width: 100%;
}


/** All visual fluff **/
html {
    height: 100%;
}
.gallery {
    margin: 1em 0;
    padding: 1em;
}
.item {
    min-width: 8em;
    min-height: 8em;
}